<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/productShop" method="post">
    <div th:each="p : ${productShop}">
        Name: <span th:text="${p.name}"></span>
        Price: <span th:text="${p.price}"></span>
        Category: <span th:text="${p.category}"></span>
        Amount to Buy: <input type="number" name="amount">
        <form action="/product" method="get">
            <input type="hidden" name="id" th:value="${p.id}" >
            <input type="submit" value="Buy">
        </form>
    </div>
</form>
</body>
</html>